[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rangeMapper"]
	path = rangeMapper
	url = https://github.com/ornitho-logics/rangemapper
